Repository mongodb/mongodb-kubernetes-operator, pull requests merged in 2022-07, with the labels that each got.

#1019 CLOUDP-125628 security context update
  .github/workflows/e2e-dispatch.yml
  .github/workflows/e2e-fork.yml
  .github/workflows/e2e.yml
  Makefile
  controllers/construct/build_statefulset_test.go
  controllers/construct/mongodbstatefulset.go
  pkg/kube/container/containers.go
  pkg/kube/podtemplatespec/podspec_template.go
Labels: safe-to-test

#1033 Add force option to setting up kind
  scripts/dev/setup_kind_cluster.sh
Labels: CLOUDP-127608

#1024 CLOUDP-116155 Initial bootup with arbiters
  Makefile
  controllers/replica_set_controller.go
  pkg/util/scale/scale.go
  test/e2e/mongodbtests/mongodbtests.go
  test/e2e/replica_set_arbiter/replica_set_arbiter_test.go
Labels: safe-to-test

#1031 remove github.com/pkg/errors
  cmd/versionhook/main.go
  controllers/mongodb_tls.go
  controllers/prometheus.go
  controllers/replica_set_controller.go
  controllers/replicaset_controller_test.go
  controllers/validation/validation.go
  go.mod
  pkg/authentication/scram/scram.go
  pkg/authentication/scramcredentials/scram_credentials.go
  pkg/automationconfig/automation_config_builder.go
  pkg/kube/configmap/configmap.go
  pkg/kube/secret/secret.go
  pkg/kube/statefulset/statefulset_builder.go
  pkg/util/state/statemachine.go
  pkg/util/status/status_test.go
  test/e2e/setup/setup.go
  test/e2e/util/mongotester/mongotester.go
  test/e2e/util/wait/wait.go
Labels: safe-to-test, CLOUDP-127609
